.chat {
  display: flex;

  &__info {
    background: var(--block-color);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-radius: 20px;
    align-items: center;

    @media (max-width: 1070px) {
        padding: 10px 35px;
    }

    @media (max-width: 620px) {
      padding: 10px 20px;
    }

    @media (max-width: 400px) {
      padding: 10px;
    }
  }

  &__name {
    margin: 0;
    font-weight: normal;
    font-size: 16px;

    @media (max-width: 400px) {
      font-size: 12px;
    }
  }

  &__icon {
    @media (max-width: 1070px) {
      width: 18px;
      height: 18px;
    }
  }
}
