.progress {
  &__title {
    font-size: 19px;
    line-height: 23px;
    text-transform: capitalize;
    //color: #3C424B;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}
