.header {
  background: #201a34;
  padding: 10px 30px;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &__container {
    padding: 0!important;
  }

  &__logo {
    width: 55px;
  }

  &__button {
    background: #342a54;
    border: none;
    outline: none;
    margin: 0 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;

    &:hover {
      background: darken(#342a54, 5%);
    }
  }
}
