.homeworks {
  padding: 45px 40px;
  border-radius: 10px;

  &__list {
    border-radius: 10px;
  }

  &__item {
    display: flex;
  }

  &__userImg {
    margin-right: 20px;
  }

  .teacher__img {
    width: 50px;
  }

  .teacher__name {
    font-size: 16px;
    line-height: 12px;
  }

  &__time {
    font-size: 11px;
    line-height: 10px;
    margin-left: 10px;
  }

  &__background {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
  }

  &__helpers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__timer {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 15px;
  }

  .timer__icon {
    width: 20px;
  }
}

.addHomework {
  &__form {
    border-radius: 10px;
    padding: 5px 17px;
  }

  &__input {
    background: transparent;
    font-size: 15px;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
  }

  &__helpers {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    &:nth-child(2) {
      margin: 0 15px;
    }
  }

  &__btn {
    border: none;
    background: transparent;
    outline: none;
    background: -webkit-linear-gradient(#5c27fe, #b05abf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
