.post {
  //background: #FAFAFA;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px 0 0 50px;
  border: none;

  @media (max-width: 1200px) {
    padding-left: 25px;
  }

  @media (max-width: 530px) {
    padding-left: 15px;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 18px;
    width: 100%;
    //color: #E0E0E0;

    &::placeholder {
      font-size: 15px;
      line-height: 18px;
      //color: #999494;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 17px;
  }

  &__helpers {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
  }

  &__items {
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    border-right: 1px solid #c4c4c4;
    //padding: 11px 0;  
    height: 100%;
    width: 100%;
    justify-content: center;

    &:before {
      content: "";
      width: 25px;
      height: 25px;
      background-size: 100%;
      display: inline-flex;
      margin-right: 10px;

      @media (max-width: 1200px) {
        margin-right: 5px;
      }
    }

    &:first-child:before {
      background: url("../assets/icons/addPhoto.svg") no-repeat center center;
    }

    &:nth-child(2):before {
      background: url("../assets/icons/location.svg") no-repeat center center;
    }

    &:last-child:before {
      background: url("../assets/icons/book.svg") no-repeat center center;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__btn {
    background: #342a54;
    border-radius: 0 0 10px 0;
    outline: none;
    color: #ffffff;
    border: none;
    padding: 11px 60px;

    @media (max-width: 1200px) {
      padding: 11px 50px;
    }
    
    @media (max-width: 530px) {
      padding: 11px 35px;
    }
    
    @media (max-width: 425px) {
      padding: 10px 20px;
      font-size: 13px;
    }
    

    &:hover {
      background: darken(#342a54, 5%);
    }
  }

  &__selectedImg {
    position: relative;
    width: 400px;
  }

  &__selectedFile {
    //position: relative;
    width: 400px;
    height: auto;
    margin-top: 40px;
  }

  &__cancel {
    position: absolute;
    top: 50px;
    right: 15px;
    padding: 10px;
    background: #201A34;
    border-radius: 50%;
  }

  &__helpBtn {
    background: transparent;
    border: none;
    outline: none;
    
    @media (max-width: 425px) {
      font-size: 10px;
    }
  }
}
