.sent {
  &__message {
    display: flex;
  }

  &__btn {
    background: linear-gradient(90deg, #5c27fe 0%, #b65eba 100%);
    border-radius: 20px;
    margin-left: 10px;
    padding: 0 22px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    @media (max-width: 850px) {
      padding: 0 18px;
      margin-left: 8px;
    }
  }

  &__label {
    padding: 23px;

    @media (max-width: 1070px) {
      padding: 20px;
    }

    @media (max-width: 850px) {
      padding: 20px;
    }

    @media (max-width: 400px) {
      padding: 15px;
    }
  }

  &__icon {
    background: transparent;
    border: none;
    outline: none;
    right: 2%;

    @media (max-width: 1070px) {
      height: 35px;
      width: 35px;
    }

    @media (max-width: 620px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: 400px) {
      width: 25px;
      height: 25px;
    }
  }

  &__icons {
    display: flex;
    position: absolute;
    right: 5%;
  }
}
