.settings {
  &__title {
    font-size: 18px;
    padding: 0 10px;
  }

  &__item {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 8px 20px;
    border-radius: 10px;

    .icon__background {
      margin-right: 20px;
      background: #201e52;
      width: 40px;
      min-width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    @media (max-width: 360px) {
      padding: 8px 10px;
    }
  }

  &__desc {
    font-size: 15px;
  }
}
