.suggested {
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;

  @media (max-width: 1200px) {
    padding: 20px;
  }

  &__title {
    font-size: 20px;
    line-height: 18px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__userImg {
    width: 100px;
    height: 100px;
  }

  &__others {
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  &__userName {
    font-size: 18px;
    line-height: 11px;
    text-transform: capitalize;
    margin-top: 20px;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  &__button {
    background: #342a54;
    border-radius: 10px;
    padding: 5px 35px;
    color: #ffffff;
    border: none;
    outline: none;
  }
}
